/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: linear-gradient(to right, rgb(126, 132, 145) , rgb(176, 229, 238));
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

    /* Left and right column */
    .column.side {
        width: 25%;
    }

    /* Middle column */
    .column.middle {
        width: 50%;
    }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/*file upload box*/
.box {
    width: 800px;
    padding: 100px 100px;
    margin: 40px auto 0;
    position: relative;
    display: block;
    background-image: linear-gradient(to right, rgb(146, 148, 151), rgb(215, 233, 236));
    text-align: center;
    border-style: inset;
    box-shadow: 0 1px 0 rgb(83, 82, 82), 0 -1px 0 rgba(0,0,0,0.1), 0 -2px 0 rgba(129, 126, 126, 0.5);
    text-shadow: 0 1px 0 white;
    border-radius: 20px;
}

.box_input {
    width: 700px;
    padding: 90px;
    position: absolute;
    background-color: transparent;
    text-align: center;
    border-style: dotted;
    border-radius: 20px;
}

.box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .box__file + label {
        font-size: 1.25em;
        font-weight: 700;
        color: blanchedalmond;
        background-color: lightgrey;
        display: inline-block;
    }

    .box__file:focus + label,
    .box_input.box__file + label:hover {
        color:white;
    }

       
.box__dragndrop,
.box__uploading,
.box__success,
.box__error,
.box__button {
    display: none;
}

.box.has-advanced-upload {
    background-color: white;
    outline: 2px dashed black;
    outline-offset: -10px;
}

.box.has-advanced-upload.box__dragndrop {
        display: inline;
}

.box.is-dragover {
    background-color: grey;
}

.no-js.box__button {
    display: block;
}

/*uplod file*/

h1, h2, p {
    margin: 20px 0 0;
    padding: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 37.5px;
}

input, 
button {
    font: normal 25px 'Open Sans', sans-serif;
}

.field {
    margin-top: 20px;
}

.buttons {
    margin-top: 20px;
}

.iframe {
    margin-top: 20px;
}

.upload-button {
    background: #f0f0f0;
    border-radius: 100px;
    text-align: center;
    position: relative;
    width: 200px;
    height: 200px;
}

    .upload-button+label {
        line-height: 200px;
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 200px;
        height: 200px;
    }

    .upload-button + input {
        opacity: 0;
        cursor: pointer;
        font-size: 200px;
        width: 200px;
        height: 200px;
    }

.drag-and-drop-area {
    position:relative;
    background-color: #D88181;
    border-radius: 200px;
    line-height: 200px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    height: 200px;
}

.drag-and-drop-area-dragging {
    background: #f5f5f5;
}
